body{
	background: url(../img/queretaro.jpg);
}


img{
	padding-top: 10px;
	padding-bottom: 5px;
}


.logo{
	width:50%;
}


.div-nav{
	padding-top: 30px;
}


.div-header{
	border: 0px;
}


.sociales-img{
	width: 40px;
	height: 40px;
}


.img-center{
	text-align: center;
}


.img-text{
	text-align: center;
}


.galeria_uno{
	width: 97%;
	text-align: center;
}


.contenedor-publicacion{
  min-height: 17rem;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius:  5px;
}


.templo{
	width:  25% ;
	padding-right: 10px;
}

#publicacion-texto{
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius:  5px;
  resize: none;
  height: 5rem;
  color: #fff;
}