/*Estilo para la etiqueta body*/
body{
	background-color: #000000;
}

/*Estilo etiqueta button*/
button{
	margin-top: 15px;
}
/*Estilo para la etiqueta input*/
input{
	margin-top: 15px;
}

/*clase para estilos de btn-buscar*/
.btn-buscar{
	margin-top: 15px;
	border: solid 1px #b3cccc;
}

/*clase para estilos de btn-nav*/
.btn-nav{
	background-color: rgba(223, 100, 9, 0.95);	color: white;
}

/*clase para estilos de la clase comentarios*/
.comentarios{
	margin-left: 15px;	
}

/*clase para estilos del contenedor contenido*/
.contenido{
	background-color: white;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	margin-top: 30px;
}

/*Estilos para el contenedor del logo*/
.div-logo{
	margin-bottom: 15px;
}

/*Estilos para el contenedor de logos redes sociales*/
.div-redes{
	margin-bottom: 15px;
}

/*Clase de estilos del header*/
.header{
	background-color: white;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}

/*Clase de estilos de Nav*/
.nav{
	background-color: red;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	margin-bottom: 10px;
}

/*clase para imagen vl18*/
.panteon-img{
	width: 236px;
	margin-top: 135px;
	margin-left: 15px;
}

/*clase para estilos post-uno*/
.post-uno{
	
}

/*clase para estilos post-dos*/
.post-dos{

}

/*clase para el tamaño de la imagen de la lupa (buscador)*/
.search-img{
	width: 25px;
	height: 25px;
}

/*clase para imagenes redes sociales*/
.sociales-img{
	margin-top: 172px;
	width: 40px;
	height: 40px;
}

/*Clase para cambio de color al sobre poner el cursor en la lista*/
.sombra-list:hover{
	background-color: rgb(238, 242, 255);
}

/*clase para icono de usuario comentarios*/
.usuario{
	width: 90px;
	height: 90px;
	
}

/*clase para imagen de los victorios*/
.victorios-img{
	margin-top: 125px;
}




